!!!
%html
  %head
    %title And Aweigh We Go
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.css'
    = csrf_meta_tags
  %body

    = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.js'
